In [109]:
import pandas  as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import plotly.express as px
import plotly.io as pio
pio.renderers.default = "svg"

In [110]:
df=pd.read_csv("zomato chennai listing 2020.csv")

In [111]:
df

,Zomato URL,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,https://www.zomato.com/chennai/yaa-mohaideen-b...,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,https://www.zomato.com/chennai/sukkubhai-biriy...,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,https://www.zomato.com/chennai/ss-hyderabad-bi...,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,https://www.zomato.com/chennai/kfc-perambur,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,https://www.zomato.com/chennai/tasty-kitchen-p...,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...,...,...
12027,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Porur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12028,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Kolathur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12029,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Anna Nagar East,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12030,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Ramapuram,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12031,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Sholinganallur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"

In [112]:
df.drop(["Zomato URL"],axis=1,inplace=True)

In [113]:
df

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...,...
12027,CK's Sandwiches,Delivery Only,Porur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12028,CK's Sandwiches,Delivery Only,Kolathur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12029,CK's Sandwiches,Delivery Only,Anna Nagar East,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12030,CK's Sandwiches,Delivery Only,Ramapuram,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12031,CK's Sandwiches,Delivery Only,Sholinganallur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"

In [114]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name of Restaurant     12032 non-null  object
 1   Address                12032 non-null  object
 2   Location               12032 non-null  object
 3   Cuisine                12032 non-null  object
 4   Top Dishes             12032 non-null  object
 5   Price for 2            12032 non-null  float64
 6   Dining Rating          6681 non-null   float64
 7   Dining Rating Count    11812 non-null  object
 8   Delivery Rating        6181 non-null   float64
 9   Delivery Rating Count  11812 non-null  object
 10  Features               12032 non-null  object
dtypes: float64(3), object(8)
memory usage: 1.0+ MB

In [115]:
df.isnull().sum()

Name of Restaurant          0
Address                     0
Location                    0
Cuisine                     0
Top Dishes                  0
Price for 2                 0
Dining Rating            5351
Dining Rating Count       220
Delivery Rating          5851
Delivery Rating Count     220
Features                    0
dtype: int64

In [119]:
df['Cuisine']

0                                                [Biryani]
1        [Biryani,  North Indian,  Mughlai,  Desserts, ...
2             [Biryani,  North Indian,  Chinese,  Arabian]
3           [Burger,  Fast Food,  Finger Food,  Beverages]
4        [Chinese,  Biryani,  North Indian,  Chettinad,...
                               ...
12027                                           [Sandwich]
12028                                           [Sandwich]
12029                                           [Sandwich]
12030                                           [Sandwich]
12031                                           [Sandwich]
Name: Cuisine, Length: 12032, dtype: object

In [121]:
import pandas as pd
import ast
from itertools import chain

# Sample DataFrame


# Step 1: Replace invalid or missing values with '[]'
df["Top Dishes"] = df["Top Dishes"].apply(
    lambda x: x if isinstance(x, str) and x.startswith('[') and x.endswith(']') else '[]'
)

# Step 2: Convert strings to lists
df["Cuisine"] = df["Cuisine"].apply(ast.literal_eval)
df["Top Dishes"] = df["Top Dishes"].apply(ast.literal_eval)

# Step 3: Remove extra spaces
df["Cuisine"] = df["Cuisine"].apply(lambda x: [c.strip() for c in x])
df["Top Dishes"] = df["Top Dishes"].apply(lambda x: [d.strip() for d in x])

# Step 4: Handle missing values
df["Cuisine'] = df['Cuisine"].apply(lambda x: x if isinstance(x, list) else [])
df["Top Dishes"] = df["Top Dishes"].apply(lambda x: x if isinstance(x, list) else [])

# Step 5: Flatten for analysis (optional)
all_cuisines = list(chain.from_iterable(df["Cuisine"]))
all_dishes = list(chain.from_iterable(df["Top Dishes"]))

# Step 6: Join lists back into strings (optional)
df["Cuisine"] = df["Cuisine"].apply(lambda x: ', '.join(x))
df["Top Dishes"] = df["Top Dishes"].apply(lambda x: ', '.join(x))

print(df)

ValueError: malformed node or string: ['Biryani']

In [8]:
zom_df['Location']=zom_df['Location'].str.strip()

In [9]:
zom_df['Location']

0             Pallavaram
1                Alandur
2            Kodambakkam
3               Perambur
4               Perambur
              ...
12027              Porur
12028           Kolathur
12029    Anna Nagar East
12030          Ramapuram
12031     Sholinganallur
Name: Location, Length: 12032, dtype: object

In [10]:
zom_df.shape

(12032, 11)

In [11]:
zom_df.describe()

        Price for 2  Dining Rating  Delivery Rating
count  12032.000000    6681.000000      6181.000000
mean     397.611370       3.387756         3.805290
std      332.045938       0.558181         0.374213
min       40.000000       0.300000         0.300000
25%      200.000000       3.100000         3.600000
50%      300.000000       3.500000         3.900000
75%      450.000000       3.800000         4.000000
max     5000.000000       4.900000         4.700000

In [12]:
zom_df.isnull().sum()

Name of Restaurant          0
Address                     0
Location                    0
Cuisine                     0
Top Dishes                  0
Price for 2                 0
Dining Rating            5351
Dining Rating Count       220
Delivery Rating          5851
Delivery Rating Count     220
Features                    0
dtype: int64

In [13]:
zom_df[zom_df['Delivery Rating'].isnull()]
zom_df

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...,...
12027,CK's Sandwiches,Delivery Only,Porur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12028,CK's Sandwiches,Delivery Only,Kolathur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12029,CK's Sandwiches,Delivery Only,Anna Nagar East,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12030,CK's Sandwiches,Delivery Only,Ramapuram,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12031,CK's Sandwiches,Delivery Only,Sholinganallur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"

In [14]:
zom_df  ["Delivery Rating"].fillna(0,inplace=True)

C:\Users\argka\AppData\Local\Temp\ipykernel_17728\3716487485.py:1: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [15]:
zom_df

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...,...
12027,CK's Sandwiches,Delivery Only,Porur,['Sandwich'],Invalid,350.0,NaN,NaN,0.0,NaN,"['Breakfast', 'Delivery Only']"
12028,CK's Sandwiches,Delivery Only,Kolathur,['Sandwich'],Invalid,350.0,NaN,NaN,0.0,NaN,"['Breakfast', 'Delivery Only']"
12029,CK's Sandwiches,Delivery Only,Anna Nagar East,['Sandwich'],Invalid,350.0,NaN,NaN,0.0,NaN,"['Breakfast', 'Delivery Only']"
12030,CK's Sandwiches,Delivery Only,Ramapuram,['Sandwich'],Invalid,350.0,NaN,NaN,0.0,NaN,"['Breakfast', 'Delivery Only']"
12031,CK's Sandwiches,Delivery Only,Sholinganallur,['Sandwich'],Invalid,350.0,NaN,NaN,0.0,NaN,"['Breakfast', 'Delivery Only']"

In [16]:
zom_df  ['Delivery Rating Count'].fillna(0,inplace=True)

C:\Users\argka\AppData\Local\Temp\ipykernel_17728\2568917274.py:1: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [17]:
zom_df  ["Dining Rating"].fillna(0,inplace=True)

C:\Users\argka\AppData\Local\Temp\ipykernel_17728\1263737930.py:1: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [18]:
zom_df  ["Dining Rating Count"].fillna(0,inplace=True)

C:\Users\argka\AppData\Local\Temp\ipykernel_17728\2707177789.py:1: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [19]:
zom_df.isnull().sum()

Name of Restaurant       0
Address                  0
Location                 0
Cuisine                  0
Top Dishes               0
Price for 2              0
Dining Rating            0
Dining Rating Count      0
Delivery Rating          0
Delivery Rating Count    0
Features                 0
dtype: int64

In [20]:
print(zom_df['Dining Rating Count'].dtype)

object

In [22]:
zom_df['Dining Rating Count'] = pd.to_numeric(zom_df['Dining Rating Count'], errors='coerce')  # Converts invalid values to NaN
zom_df['Dining Rating Count'].fillna(0, inplace=True)  # Replace NaN with 0, if appropriate
zom_df['Dining Rating Count'] = zom_df['Dining Rating Count'].astype('int64')

C:\Users\argka\AppData\Local\Temp\ipykernel_17728\2766964940.py:2: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [23]:
zom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name of Restaurant     12032 non-null  object
 1   Address                12032 non-null  object
 2   Location               12032 non-null  object
 3   Cuisine                12032 non-null  object
 4   Top Dishes             12032 non-null  object
 5   Price for 2            12032 non-null  float64
 6   Dining Rating          12032 non-null  float64
 7   Dining Rating Count    12032 non-null  int64
 8   Delivery Rating        12032 non-null  float64
 9   Delivery Rating Count  12032 non-null  object
 10  Features               12032 non-null  object
dtypes: float64(3), int64(1), object(7)
memory usage: 1.0+ MB

In [24]:
print(zom_df['Delivery Rating Count'].dtype)

object

In [25]:
print(zom_df['Delivery Rating Count'].unique())

['9306' '39200' '10500' ... '875' '539' '1617']

In [26]:
zom_df['Delivery Rating Count'] = pd.to_numeric(zom_df['Delivery Rating Count'], errors='coerce')  # Converts invalid values to NaN
zom_df['Delivery Rating Count'].fillna(0, inplace=True)  # Replace NaN with 0, if appropriate
zom_df['Delivery Rating Count'] = zom_df['Delivery Rating Count'].astype('int64')

C:\Users\argka\AppData\Local\Temp\ipykernel_17728\3975809918.py:2: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [27]:
zom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name of Restaurant     12032 non-null  object
 1   Address                12032 non-null  object
 2   Location               12032 non-null  object
 3   Cuisine                12032 non-null  object
 4   Top Dishes             12032 non-null  object
 5   Price for 2            12032 non-null  float64
 6   Dining Rating          12032 non-null  float64
 7   Dining Rating Count    12032 non-null  int64
 8   Delivery Rating        12032 non-null  float64
 9   Delivery Rating Count  12032 non-null  int64
 10  Features               12032 non-null  object
dtypes: float64(3), int64(2), object(6)
memory usage: 1.0+ MB

In [28]:
dining_remove=zom_df['Dining Rating']==0

In [29]:
zom_df=zom_df[~dining_remove]

In [30]:
zom_df

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...,...
11777,Kekiz The Cake Shop,Delivery Only,Choolaimedu,"['Bakery', ' Desserts']",Invalid,450.0,1.0,0,0.0,0,"['Delivery Only', 'Desserts and Bakes']"
11785,Engineers Kitchen,"24 A, AIC Colony, Athipet, Ambattur, Chennai",Ambattur,"['North Indian', ' Chinese', ' Andhra']",Invalid,400.0,2.5,6,3.5,214,"['Home Delivery', 'Indoor Seating']"
11794,That Juice Shop,"7, Gopra OMR Bazaar, Karapakkam, Chennai",Karapakkam,"['Juices', ' Beverages']",Invalid,200.0,3.6,6,4.2,157,"['Home Delivery', 'Indoor Seating']"
11801,Amma Unavagam,"Rajamannar Salai, K.K. Nagar, Chennai",K.K. Nagar,['South Indian'],Invalid,150.0,3.3,5,0.0,0,"['Breakfast', 'Vegetarian Only', 'Indoor Seati..."
11802,Amma Unavagam,"Pillaiyar Koil Street, Mettukuppam, Thuraipak...",Thuraipakkam,['South Indian'],Invalid,150.0,3.4,5,0.0,0,"['Breakfast', 'Vegetarian Only', 'Standing Tab..."

In [31]:
zom_df['Address'].value_counts()

Address
92, OMR Road, Navallur, Chennai                                         12
Delivery Only                                                           12
Akshaya Food Court, Ambit IT Park, 1st Cross Road, Ambattur, Chennai    10
OMR Food Street, Ambattur, Chennai                                       7
92, OMR Food Street, Navallur, Chennai                                   6
                                                                        ..
41A, Rajiv Gandhi Salai, Karapakkam, Chennai                             1
7/4, Masilamani Street, Parthasarathi Puram, T. Nagar, Chennai           1
3, Kambar Street, GST Road, Potheri, Chennai                             1
97/3, W Block, 3rd Main Road, Anna Nagar East, Chennai                   1
Pillaiyar Koil Street, Mettukuppam, Thuraipakkam, Chennai                1
Name: count, Length: 6384, dtype: int64

In [32]:
zom_df['Cuisine'].value_counts()

Cuisine
['South Indian']                                                         316
['North Indian', ' Chinese']                                             128
['Fast Food']                                                            122
['South Indian', ' Chinese']                                             120
['Bakery']                                                               114
                                                                        ...
['Mithai', ' Street Food', ' North Indian', ' Chinese', ' Beverages']      1
['Chinese', ' Mughlai', ' Arabian']                                        1
['Chinese', ' Tibetan']                                                    1
['Mithai', ' North Indian', ' Street Food', ' Fast Food']                  1
['Juices', ' Beverages', ' Sandwich', ' Fast Food']                        1
Name: count, Length: 1853, dtype: int64

In [33]:
zom_df['Top Dishes'].value_counts()

Top Dishes
Invalid                                                                                                         4546
['Biryani']                                                                                                       28
['Coffee']                                                                                                        14
['Chicken Biryani']                                                                                               11
['Sandwich']                                                                                                      10
                                                                                                                ...
['Chaat', ' Panipuri', ' Pav Bhaji', ' Paratha', ' Masala Poori', ' Bhel Puri', ' Samosa']                         1
['Corn Chips', ' French Onion Soup', ' Tandoori Platter', ' Ghee Rice', ' Lassi', ' Paneer Tikka', ' Crepe']       1
['Pasta', ' Veg Buffet', ' Curd Rice', ' Salad', ' Lunch Buffet', ' Vegetable Biryani', ' Appam']                  1
['Mutton Biryani', ' Mutton Chukka', ' Omelette', ' Vanjaram Fry', ' Kadalai Mittai', ' Barfi']                    1
['Chaat', ' Rasmalai']                                                                                             1
Name: count, Length: 1960, dtype: int64

In [34]:
zom_df = zom_df.explode('Top Dishes')

In [35]:
zom_df

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...,...
11777,Kekiz The Cake Shop,Delivery Only,Choolaimedu,"['Bakery', ' Desserts']",Invalid,450.0,1.0,0,0.0,0,"['Delivery Only', 'Desserts and Bakes']"
11785,Engineers Kitchen,"24 A, AIC Colony, Athipet, Ambattur, Chennai",Ambattur,"['North Indian', ' Chinese', ' Andhra']",Invalid,400.0,2.5,6,3.5,214,"['Home Delivery', 'Indoor Seating']"
11794,That Juice Shop,"7, Gopra OMR Bazaar, Karapakkam, Chennai",Karapakkam,"['Juices', ' Beverages']",Invalid,200.0,3.6,6,4.2,157,"['Home Delivery', 'Indoor Seating']"
11801,Amma Unavagam,"Rajamannar Salai, K.K. Nagar, Chennai",K.K. Nagar,['South Indian'],Invalid,150.0,3.3,5,0.0,0,"['Breakfast', 'Vegetarian Only', 'Indoor Seati..."
11802,Amma Unavagam,"Pillaiyar Koil Street, Mettukuppam, Thuraipak...",Thuraipakkam,['South Indian'],Invalid,150.0,3.4,5,0.0,0,"['Breakfast', 'Vegetarian Only', 'Standing Tab..."

In [36]:
zom_df['Top Dishes'].value_counts()

Top Dishes
Invalid                                                                                                         4546
['Biryani']                                                                                                       28
['Coffee']                                                                                                        14
['Chicken Biryani']                                                                                               11
['Sandwich']                                                                                                      10
                                                                                                                ...
['Chaat', ' Panipuri', ' Pav Bhaji', ' Paratha', ' Masala Poori', ' Bhel Puri', ' Samosa']                         1
['Corn Chips', ' French Onion Soup', ' Tandoori Platter', ' Ghee Rice', ' Lassi', ' Paneer Tikka', ' Crepe']       1
['Pasta', ' Veg Buffet', ' Curd Rice', ' Salad', ' Lunch Buffet', ' Vegetable Biryani', ' Appam']                  1
['Mutton Biryani', ' Mutton Chukka', ' Omelette', ' Vanjaram Fry', ' Kadalai Mittai', ' Barfi']                    1
['Chaat', ' Rasmalai']                                                                                             1
Name: count, Length: 1960, dtype: int64

In [37]:
# Remove rows where 'Top Dishes' is exactly 'Invalid'
zom_df = zom_df[zom_df['Top Dishes'] != 'Invalid']

In [38]:
zom_df

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...,...
10867,Perambur Sri Srinivasa,"98, MTH Road, Padi, Ambattur, Chennai",Ambattur,"['North Indian', ' South Indian', ' Chinese', ...","['Fried Rice', ' Panneer Butter Masala']",400.0,3.7,121,3.9,73,"['Breakfast', 'Home Delivery', 'Vegetarian Onl..."
10964,Hot Breads,"147, Ground Floor, Sivagami Square, GN Chetty...",T. Nagar,"['Bakery', ' Fast Food', ' Beverages']","['Choco Truffle', ' Cupcake']",450.0,3.0,47,3.9,22,"['Home Delivery', 'Catering Available', 'Desse..."
11035,Uzo Sandwiches,"71, Pilayar Koil Street, SRM Nagar, Potheri, ...",Potheri,"['Sandwich', ' Burger', ' Wraps', ' Fast Food'...","['Burgers', ' Chicken Sandwich', ' Pizza Sandw...",300.0,4.0,453,4.1,7093,"['Home Delivery', 'Free Parking', 'Indoor Seat..."
11080,The Cake World,"40 A, Velachery Main Road, Velachery, Chennai",Velachery,['Bakery'],['Blackforest Cake'],500.0,3.0,58,3.9,45,"['Home Delivery', 'Indoor Seating', 'Desserts ..."
11134,Nandhiniee Sweets,"55, South Usman Road, T. Nagar, Chennai",T. Nagar,"['Mithai', ' Fast Food', ' North Indian']","['Chaat', ' Rasmalai']",400.0,3.4,49,4.2,931,"['Home Delivery', 'Vegetarian Only', 'Free Par..."

In [39]:
zom_df['Features'].value_counts()

Features
['Home Delivery', 'Indoor Seating']                                                                                                                                              355
['Home Delivery', 'Free Parking', 'Indoor Seating']                                                                                                                               87
['Breakfast', 'Home Delivery', 'Vegetarian Only', 'Indoor Seating']                                                                                                               62
['Home Delivery', 'Indoor Seating', 'Table reservation required']                                                                                                                 49
['Home Delivery', 'Vegetarian Only', 'Indoor Seating', 'Desserts and Bakes']                                                                                                      47
                                                                                                                                                                                ...
['Home Delivery', 'Wheelchair Accessible', 'Buffet', 'Valet Parking Available', 'Table booking recommended', 'LGBTQIA Friendly', 'Indoor Seating', 'Available for Functions']      1
['Breakfast', 'Outdoor Seating', 'Smoking Area']                                                                                                                                   1
['Home Delivery', 'Vegetarian Only', 'Standing Tables', 'Outdoor Seating', 'Desserts and Bakes']                                                                                   1
['Wheelchair Accessible', 'Full Bar Available', 'Table booking recommended', 'Rooftop', 'Outdoor Seating', 'Valet Parking Available', 'Indoor Seating', '4/5 Star']                1
['Home Delivery', 'Vegetarian Only', 'Free Parking', 'Pre-Ordering Required', 'Desserts and Bakes', 'Indoor Seating']                                                              1
Name: count, Length: 885, dtype: int64

In [40]:
zom_df

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...,...
10867,Perambur Sri Srinivasa,"98, MTH Road, Padi, Ambattur, Chennai",Ambattur,"['North Indian', ' South Indian', ' Chinese', ...","['Fried Rice', ' Panneer Butter Masala']",400.0,3.7,121,3.9,73,"['Breakfast', 'Home Delivery', 'Vegetarian Onl..."
10964,Hot Breads,"147, Ground Floor, Sivagami Square, GN Chetty...",T. Nagar,"['Bakery', ' Fast Food', ' Beverages']","['Choco Truffle', ' Cupcake']",450.0,3.0,47,3.9,22,"['Home Delivery', 'Catering Available', 'Desse..."
11035,Uzo Sandwiches,"71, Pilayar Koil Street, SRM Nagar, Potheri, ...",Potheri,"['Sandwich', ' Burger', ' Wraps', ' Fast Food'...","['Burgers', ' Chicken Sandwich', ' Pizza Sandw...",300.0,4.0,453,4.1,7093,"['Home Delivery', 'Free Parking', 'Indoor Seat..."
11080,The Cake World,"40 A, Velachery Main Road, Velachery, Chennai",Velachery,['Bakery'],['Blackforest Cake'],500.0,3.0,58,3.9,45,"['Home Delivery', 'Indoor Seating', 'Desserts ..."
11134,Nandhiniee Sweets,"55, South Usman Road, T. Nagar, Chennai",T. Nagar,"['Mithai', ' Fast Food', ' North Indian']","['Chaat', ' Rasmalai']",400.0,3.4,49,4.2,931,"['Home Delivery', 'Vegetarian Only', 'Free Par..."

In [41]:
zom_df['Features'] = zom_df['Features'].str.strip().str.title()

C:\Users\argka\AppData\Local\Temp\ipykernel_17728\2224977287.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [42]:
feature_counts = zom_df['Features'].value_counts().reset_index()
print(feature_counts)

                                              Features  count
0                  ['Home Delivery', 'Indoor Seating']    355
1    ['Home Delivery', 'Free Parking', 'Indoor Seat...     87
2    ['Breakfast', 'Home Delivery', 'Vegetarian Onl...     62
3    ['Home Delivery', 'Indoor Seating', 'Table Res...     49
4    ['Home Delivery', 'Vegetarian Only', 'Indoor S...     47
..                                                 ...    ...
880  ['Home Delivery', 'Wheelchair Accessible', 'Bu...      1
881   ['Breakfast', 'Outdoor Seating', 'Smoking Area']      1
882  ['Home Delivery', 'Vegetarian Only', 'Standing...      1
883  ['Wheelchair Accessible', 'Full Bar Available'...      1
884  ['Home Delivery', 'Vegetarian Only', 'Free Par...      1

[885 rows x 2 columns]

In [43]:
zom_df['Features']=feature_counts ['Features']
zom_df['count']=feature_counts['count']
zom_df.head()

C:\Users\argka\AppData\Local\Temp\ipykernel_17728\2532981656.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\argka\AppData\Local\Temp\ipykernel_17728\2532981656.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features,count
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']",355.0
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Indoor Seat...",87.0
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Breakfast', 'Home Delivery', 'Vegetarian Onl...",62.0
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Indoor Seating', 'Table Res...",49.0
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Vegetarian Only', 'Indoor S...",47.0

In [44]:
zom_df=zom_df.drop_duplicates()

In [45]:
zom_df

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features,count
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']",355.0
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Indoor Seat...",87.0
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Breakfast', 'Home Delivery', 'Vegetarian Onl...",62.0
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Indoor Seating', 'Table Res...",49.0
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Vegetarian Only', 'Indoor S...",47.0
...,...,...,...,...,...,...,...,...,...,...,...,...
10867,Perambur Sri Srinivasa,"98, MTH Road, Padi, Ambattur, Chennai",Ambattur,"['North Indian', ' South Indian', ' Chinese', ...","['Fried Rice', ' Panneer Butter Masala']",400.0,3.7,121,3.9,73,NaN,NaN
10964,Hot Breads,"147, Ground Floor, Sivagami Square, GN Chetty...",T. Nagar,"['Bakery', ' Fast Food', ' Beverages']","['Choco Truffle', ' Cupcake']",450.0,3.0,47,3.9,22,NaN,NaN
11035,Uzo Sandwiches,"71, Pilayar Koil Street, SRM Nagar, Potheri, ...",Potheri,"['Sandwich', ' Burger', ' Wraps', ' Fast Food'...","['Burgers', ' Chicken Sandwich', ' Pizza Sandw...",300.0,4.0,453,4.1,7093,NaN,NaN
11080,The Cake World,"40 A, Velachery Main Road, Velachery, Chennai",Velachery,['Bakery'],['Blackforest Cake'],500.0,3.0,58,3.9,45,NaN,NaN
11134,Nandhiniee Sweets,"55, South Usman Road, T. Nagar, Chennai",T. Nagar,"['Mithai', ' Fast Food', ' North Indian']","['Chaat', ' Rasmalai']",400.0,3.4,49,4.2,931,NaN,NaN

In [46]:
zom_df['count'].nunique()

25

In [47]:
zom_df['Features'].fillna(0,inplace=True)

C:\Users\argka\AppData\Local\Temp\ipykernel_17728\879846014.py:1: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [48]:
zom_df['count'].fillna(0,inplace=True)

C:\Users\argka\AppData\Local\Temp\ipykernel_17728\1810428519.py:1: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [49]:
zom_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2135 entries, 0 to 11134
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name of Restaurant     2135 non-null   object
 1   Address                2135 non-null   object
 2   Location               2135 non-null   object
 3   Cuisine                2135 non-null   object
 4   Top Dishes             2135 non-null   object
 5   Price for 2            2135 non-null   float64
 6   Dining Rating          2135 non-null   float64
 7   Dining Rating Count    2135 non-null   int64
 8   Delivery Rating        2135 non-null   float64
 9   Delivery Rating Count  2135 non-null   int64
 10  Features               2135 non-null   object
 11  count                  2135 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 216.8+ KB

In [50]:
print(zom_df['Dining Rating'].describe())
print(zom_df['Dining Rating Count'].describe())

count    2135.000000
mean        3.748197
std         0.509107
min         2.000000
25%         3.500000
50%         3.900000
75%         4.100000
max         4.900000
Name: Dining Rating, dtype: float64
count    2135.000000
mean      358.111007
std       511.338608
min        17.000000
25%       108.500000
50%       203.000000
75%       411.000000
max      9410.000000
Name: Dining Rating Count, dtype: float64

In [51]:
def categorize_price(price):
    if price <= 500:
        return 'Budget'
    elif price <= 1000:
        return 'Mid-Range'
    else:
        return 'Expensive'

zom_df['Price Category'] = zom_df['Price for 2'].apply(categorize_price)

In [52]:
 categorize_price(400)

'Budget'

In [53]:
zom_df['Price Category']

0           Budget
1        Mid-Range
2           Budget
3           Budget
4           Budget
           ...
10867       Budget
10964       Budget
11035       Budget
11080       Budget
11134       Budget
Name: Price Category, Length: 2135, dtype: object

In [54]:
def rating_category(rating):
    if rating >= 4.5:
        return 'Excellent'
    elif rating >= 4.0:
        return 'Good'
    elif rating >= 3.0:
        return 'Average'
    else:
        return 'Poor'

zom_df['Rating Category'] = zom_df['Dining Rating'].apply(rating_category)

In [55]:
zom_df

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features,count,Price Category,Rating Category
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']",355.0,Budget,Good
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Indoor Seat...",87.0,Mid-Range,Good
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Breakfast', 'Home Delivery', 'Vegetarian Onl...",62.0,Budget,Good
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Indoor Seating', 'Table Res...",49.0,Budget,Good
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Vegetarian Only', 'Indoor S...",47.0,Budget,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10867,Perambur Sri Srinivasa,"98, MTH Road, Padi, Ambattur, Chennai",Ambattur,"['North Indian', ' South Indian', ' Chinese', ...","['Fried Rice', ' Panneer Butter Masala']",400.0,3.7,121,3.9,73,0,0.0,Budget,Average
10964,Hot Breads,"147, Ground Floor, Sivagami Square, GN Chetty...",T. Nagar,"['Bakery', ' Fast Food', ' Beverages']","['Choco Truffle', ' Cupcake']",450.0,3.0,47,3.9,22,0,0.0,Budget,Average
11035,Uzo Sandwiches,"71, Pilayar Koil Street, SRM Nagar, Potheri, ...",Potheri,"['Sandwich', ' Burger', ' Wraps', ' Fast Food'...","['Burgers', ' Chicken Sandwich', ' Pizza Sandw...",300.0,4.0,453,4.1,7093,0,0.0,Budget,Good
11080,The Cake World,"40 A, Velachery Main Road, Velachery, Chennai",Velachery,['Bakery'],['Blackforest Cake'],500.0,3.0,58,3.9,45,0,0.0,Budget,Average
11134,Nandhiniee Sweets,"55, South Usman Road, T. Nagar, Chennai",T. Nagar,"['Mithai', ' Fast Food', ' North Indian']","['Chaat', ' Rasmalai']",400.0,3.4,49,4.2,931,0,0.0,Budget,Average

In [56]:
clean_df=zom_df.copy()
clean_df.head(5)

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features,count,Price Category,Rating Category
0,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']",355.0,Budget,Good
1,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Indoor Seat...",87.0,Mid-Range,Good
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Breakfast', 'Home Delivery', 'Vegetarian Onl...",62.0,Budget,Good
3,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Indoor Seating', 'Table Res...",49.0,Budget,Good
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Vegetarian Only', 'Indoor S...",47.0,Budget,Good

In [57]:
clean_df['Price Category'].value_counts()

Price Category
Budget       1115
Mid-Range     753
Expensive     267
Name: count, dtype: int64

In [58]:
#1)find the top3 expensive restaurant?
zom_df[zom_df['Price Category']=='Expensive'].sort_values(by='Dining Rating',ascending=False).head(3)

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features,count,Price Category,Rating Category
184,Gossip Fusion Bistro,"New 141, Old 191, Opposite HP Fuel Station, E...",Kanathur,"['Italian', ' Continental', ' Burger', ' Sandw...","['Tender Coconut Mousse', ' Iced Tea', ' Pasta...",1500.0,4.9,996,4.3,500,"['Home Delivery', 'Wheelchair Accessible', 'In...",1.0,Expensive,Excellent
443,Avartana - ITC Grand Chola,"ITC Grand Chola, 63, Mount Road, Guindy, Chennai","ITC Grand Chola, Guindy","['South Indian', ' Chinese', ' Desserts']","['Chole', ' Carrot Ice Cream', ' Dumplings', '...",4500.0,4.8,371,0.0,0,"['Home Delivery', 'Wifi', 'Card Upon Delivery'...",1.0,Expensive,Excellent
195,The Marina,"39, College Road, Nungambakkam, Chennai",Nungambakkam,"['Seafood', ' North Indian', ' Chinese']","['Sea Food', ' Jumbo Prawns', ' Biryani', ' Fi...",1600.0,4.8,1082,4.3,373,"['Home Delivery', 'Valet Parking Available', '...",1.0,Expensive,Excellent

In [59]:
#2)#2)Howmany restaurants are in chennai for each type of cuisine?
clean_df['Cuisine'].value_counts()

Cuisine
['Pizza', ' Fast Food']                                                           55
['South Indian']                                                                  41
['North Indian', ' Chinese']                                                      37
['South Indian', ' North Indian', ' Chinese']                                     25
['South Indian', ' Biryani', ' Chinese', ' North Indian']                         24
                                                                                  ..
['South Indian', ' Chinese', ' North Indian', ' Beverages']                        1
['Japanese', ' Korean']                                                            1
['North Indian', ' Chinese', ' Seafood', ' Mughlai', ' Biryani', ' Beverages']     1
['Cafe', ' Tea', ' Desserts', ' British']                                          1
['Mithai', ' Fast Food', ' North Indian']                                          1
Name: count, Length: 943, dtype: int64

In [60]:
 #3)What are the percentage of restaurants by dining Rating in chennai?
dining_count=clean_df['Dining Rating'].value_counts()

In [61]:
total_res=dining_count.sum()

In [62]:
res_Per=(dining_count/total_res)*100
res_Per=res_Per.sort_values(ascending=True)
res_Per_df = res_Per.reset_index()
res_Per_df.columns = ['Dining Rating', 'Percentage']
res_Per_df = res_Per_df.sort_values('Dining Rating', ascending=False)

In [63]:
#4)Which are the Top 10 highest rated South indian cuisine Restaurant in chennai?
south_df = clean_df[clean_df['Cuisine'].str.contains('South Indian')]
south_df.sort_values(by='Dining Rating',ascending=False).head(10)

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features,count,Price Category,Rating Category
184,Gossip Fusion Bistro,"New 141, Old 191, Opposite HP Fuel Station, E...",Kanathur,"['Italian', ' Continental', ' Burger', ' Sandw...","['Tender Coconut Mousse', ' Iced Tea', ' Pasta...",1500.0,4.9,996,4.3,500,"['Home Delivery', 'Wheelchair Accessible', 'In...",1.0,Expensive,Excellent
219,Prems Graama Bhojanam,"23/10, 3rd Main Road, Kasturba Nagar, Adyar, ...",Adyar,['South Indian'],"['Benne Dosa', ' Buttermilk', ' Thatte Idli', ...",500.0,4.9,1511,4.1,4621,"['Home Delivery', 'Table Reservation Required'...",1.0,Budget,Excellent
443,Avartana - ITC Grand Chola,"ITC Grand Chola, 63, Mount Road, Guindy, Chennai","ITC Grand Chola, Guindy","['South Indian', ' Chinese', ' Desserts']","['Chole', ' Carrot Ice Cream', ' Dumplings', '...",4500.0,4.8,371,0.0,0,"['Home Delivery', 'Wifi', 'Card Upon Delivery'...",1.0,Expensive,Excellent
187,J.Hind - Grand by GRT Hotels,"Grand by GRT Hotels, 120, Sir Thyagaraya Road...",Grand by GRT Hotels,"['North Indian', ' Mughlai', ' South Indian']","['Biryani', ' Momos', ' Coconut Pudding', ' Se...",2500.0,4.7,1138,0.0,0,"['Breakfast', 'Takeaway Only', 'Vegetarian Onl...",1.0,Expensive,Excellent
108,Rayar's Mess,"31, Arundale Street, Mylapore, Chennai",Mylapore,['South Indian'],"['Pongal', ' Vada', ' Filtered Coffee', ' Idli...",100.0,4.7,904,4.3,1319,"['Home Delivery', 'Wheelchair Accessible', 'Ve...",2.0,Budget,Excellent
395,Southern Spice - Taj Coromandel,"Taj Coromandel, 37, Mahatma Gandhi Road, Nung...","Taj Coromandel, Nungambakkam",['South Indian'],"['Appam', ' Thali', ' Paratha', ' Chicken Curr...",3000.0,4.7,432,0.0,0,"['Home Delivery', 'Free Parking', 'Desserts An...",1.0,Expensive,Excellent
24,Eating Circles,"6, CP Ramaswamy Road, Alwarpet, Chennai",Alwarpet,['South Indian'],"['Rose Milk', ' Neer Dosa', ' Thatte Idli', ' ...",250.0,4.7,782,4.2,2744,"['Home Delivery', 'Indoor Seating', 'Desserts ...",8.0,Budget,Excellent
93,Kappa Chakka Kandhari,"10, Haddows Road, Opposite Shastri Bhavan, Nu...",Nungambakkam,"['Kerala', ' South Indian']","['Tender Coconut Pudding', ' Appam', ' Beef Fr...",1200.0,4.7,979,0.0,0,"['Home Delivery', 'Vegetarian Only', 'Free Par...",2.0,Expensive,Excellent
445,Dakshin - Crowne Plaza Chennai Adyar Park,"Crowne Plaza Chennai Adyar Park, TTK Road, Au...","Crowne Plaza Chennai Adyar Park, Alwarpet","['South Indian', ' Kerala', ' Andhra']","['Banana Dosa', ' Elaneer Payasam', ' Appam', ...",2500.0,4.6,377,0.0,0,"['Home Delivery', 'Indoor Seating', 'Card Upon...",1.0,Expensive,Excellent
50,Andhikkadai,"20, Dhandeeswaram Main Road, Velachery, Chennai",Velachery,['South Indian'],"['Coffee', ' Sweet Kozhukattai', ' Idli', ' Po...",200.0,4.6,908,4.2,17300,"['Home Delivery', 'Indoor Seating', 'Table Res...",4.0,Budget,Excellent

In [79]:
#5) Which is the best chinese cuisine in chennai?
chinese_df=clean_df[clean_df['Cuisine'].str.contains('Chinese')]
chinese_df.sort_values(by='Price for 2',ascending=True).head(5)
chinese_df

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features,count,Price Category,Rating Category
2,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Breakfast', 'Home Delivery', 'Vegetarian Onl...",62.0,Budget,Good
4,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Vegetarian Only', 'Indoor S...",47.0,Budget,Good
5,Dine N Fun,"Opposite Forest Office, Tambaram Main Road, S...",Medavakkam,"['South Indian', ' North Indian', ' Chinese']","['Chicken Grill', ' Shawarma', ' Naan', ' Chic...",450.0,4.1,567,3.8,24700,"['Home Delivery', 'Indoor Seating', 'Desserts ...",45.0,Budget,Good
8,Savoury Sea Shell,"3, E Block, 3rd Avenue, Anna Nagar East, Chennai",Anna Nagar East,"['Arabian', ' Chinese', ' North Indian', ' Leb...","['Shawarma', ' Chicken Grill', ' Brownie', ' S...",1400.0,4.2,2564,4.1,21700,"['Home Delivery', 'Indoor Seating', 'Table Boo...",35.0,Expensive,Good
9,Sangeetha Veg Restaurant,"102/82, GN Chetty Road, T. Nagar, Chennai",T. Nagar,"['South Indian', ' North Indian', ' Chinese', ...","['Filtered Coffee', ' Chaat', ' Faluda', ' Mas...",800.0,4.4,1578,4.2,39600,"['Home Delivery', 'Indoor Seating', 'Catering ...",35.0,Mid-Range,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10501,The Grand Sweets and Snacks,"64, Ground Floor, North Mada Street, Mylapore...",Mylapore,"['Mithai', ' Chinese', ' Street Food', ' South...","['Coffee', ' Chaat', ' Masala Dosa']",450.0,2.5,45,3.9,59,0,0.0,Budget,Poor
10502,The Grand Sweets and Snacks,"74, Venkatakrishna Road, RA Puram, Chennai",RA Puram,"['Mithai', ' Chinese', ' Street Food', ' South...","['Chaat', ' Badam Milk', ' Indian Sweets', ' B...",450.0,2.8,39,0.0,0,0,0.0,Budget,Poor
10703,Royal Biriyani,"1/130, Near University Colony Arch, Palavakka...",Palavakkam,"['North Indian', ' Chinese']","['Shawarma', ' Chicken Grill', ' Biryani', ' T...",500.0,3.0,116,4.0,869,0,0.0,Budget,Average
10704,Royal Biriyani,"129, East Coast Road, 5 Star Classic Super Ma...",Thiruvanmiyur,"['North Indian', ' Chinese']","['Biryani', ' Brinjal Curry', ' Rolls', ' Chic...",500.0,2.6,78,3.9,428,0,0.0,Budget,Poor
10867,Perambur Sri Srinivasa,"98, MTH Road, Padi, Ambattur, Chennai",Ambattur,"['North Indian', ' South Indian', ' Chinese', ...","['Fried Rice', ' Panneer Butter Masala']",400.0,3.7,121,3.9,73,0,0.0,Budget,Average

In [82]:
chinese_df['Top Dishes'].value_counts().reset_index()

                                            Top Dishes  count
0                                          ['Biryani']     21
1                                  ['Chicken Biryani']      6
2                                    ['Chicken Grill']      6
3                                          ['Paratha']      5
4                            ['Panneer Butter Masala']      4
..                                                 ...    ...
803  ['Bread Halwa', ' Mutton Biryani', ' Fish Fing...      1
804  ['Tandoori Chicken', ' Chicken Biryani', ' Chi...      1
805  ['Dumplings', ' Fish', ' Date Pancakes', ' Che...      1
806  ['Mushroom Tikka', ' Biryani', ' Noodle', ' Ch...      1
807           ['Fried Rice', ' Panneer Butter Masala']      1

[808 rows x 2 columns]

In [96]:
top_dish=best_chinese[best_chinese['Top Dishes'].str.contains('Paratha')]
top_Location=top_dish.groupby('Location')['Dining Rating Count'].sum().reset_index()

In [97]:
top_dish

,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features,count,Price Category,Rating Category
232,Sapthagiri Tiffin Centre,"27/2, Sivagnanam Street, Pondy Bazaar, T. Nag...",T. Nagar,"['South Indian', ' Chinese']","['Paratha', ' Noodle', ' Idli', ' Masala Dosa'...",150.0,4.3,1335,3.9,47200,"['Home Delivery', 'Full Bar Available', 'Smoki...",1.0,Budget,Good
1255,Annanagar Vaishanava's - Thattu Idli Kadai,"Ground Floor, Q91, 4th Main Road, Anna Nagar ...",Anna Nagar East,"['South Indian', ' Chinese', ' Street Food', '...","['Thatte Idli', ' Paratha', ' Podi Idli', ' Sa...",200.0,4.0,126,4.1,1090,0,0.0,Budget,Good
1068,Chaat @ Adyar,"28 B, 1st Main Road, Shastri Nagar, Adyar, Ch...",Adyar,"['North Indian', ' Chinese', ' Street Food']","['Chaat', ' Mushroom Pepper Fry', ' Aloo Parat...",200.0,3.6,153,3.9,2429,0,0.0,Budget,Average

In [98]:
top_Location

          Location  Dining Rating Count
0            Adyar                  153
1  Anna Nagar East                  126
2         T. Nagar                 1335

In [99]:
#6)which location have large no of south indian cuisine?
clean_df['Cuisine'].value_counts()

Cuisine
['Pizza', ' Fast Food']                                                           55
['South Indian']                                                                  41
['North Indian', ' Chinese']                                                      37
['South Indian', ' North Indian', ' Chinese']                                     25
['South Indian', ' Biryani', ' Chinese', ' North Indian']                         24
                                                                                  ..
['South Indian', ' Chinese', ' North Indian', ' Beverages']                        1
['Japanese', ' Korean']                                                            1
['North Indian', ' Chinese', ' Seafood', ' Mughlai', ' Biryani', ' Beverages']     1
['Cafe', ' Tea', ' Desserts', ' British']                                          1
['Mithai', ' Fast Food', ' North Indian']                                          1
Name: count, Length: 943, dtype: int64