In [1]:
import pandas  as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import plotly.express as px
import plotly.io as pio
pio.renderers.default = "svg"

In [2]:
zom_df=pd.read_csv("zomato chennai listing 2020.csv")
zom_df

,Zomato URL,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,https://www.zomato.com/chennai/yaa-mohaideen-b...,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,https://www.zomato.com/chennai/sukkubhai-biriy...,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,https://www.zomato.com/chennai/ss-hyderabad-bi...,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,https://www.zomato.com/chennai/kfc-perambur,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,https://www.zomato.com/chennai/tasty-kitchen-p...,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...,...,...
12027,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Porur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12028,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Kolathur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12029,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Anna Nagar East,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12030,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Ramapuram,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12031,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Sholinganallur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"

In [3]:
zom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Zomato URL             12032 non-null  object
 1   Name of Restaurant     12032 non-null  object
 2   Address                12032 non-null  object
 3   Location               12032 non-null  object
 4   Cuisine                12032 non-null  object
 5   Top Dishes             12032 non-null  object
 6   Price for 2            12032 non-null  float64
 7   Dining Rating          6681 non-null   float64
 8   Dining Rating Count    11812 non-null  object
 9   Delivery Rating        6181 non-null   float64
 10  Delivery Rating Count  11812 non-null  object
 11  Features               12032 non-null  object
dtypes: float64(3), object(9)
memory usage: 1.1+ MB

In [4]:
zom_df.shape

(12032, 12)

In [5]:
zom_df.describe()

        Price for 2  Dining Rating  Delivery Rating
count  12032.000000    6681.000000      6181.000000
mean     397.611370       3.387756         3.805290
std      332.045938       0.558181         0.374213
min       40.000000       0.300000         0.300000
25%      200.000000       3.100000         3.600000
50%      300.000000       3.500000         3.900000
75%      450.000000       3.800000         4.000000
max     5000.000000       4.900000         4.700000

In [6]:
#Removing Duplicate rows
zom_df[zom_df['Top Dishes']=='Top Dishes']

Empty DataFrame
Columns: [Zomato URL, Name of Restaurant, Address, Location, Cuisine, Top Dishes, Price for 2, Dining Rating, Dining Rating Count, Delivery Rating, Delivery Rating Count, Features]
Index: []

In [7]:
zom_df[zom_df['Cuisine']=='Cuisine']

Empty DataFrame
Columns: [Zomato URL, Name of Restaurant, Address, Location, Cuisine, Top Dishes, Price for 2, Dining Rating, Dining Rating Count, Delivery Rating, Delivery Rating Count, Features]
Index: []

In [8]:
zom_df[zom_df['Name of Restaurant']=='Name of Restaurant']

Empty DataFrame
Columns: [Zomato URL, Name of Restaurant, Address, Location, Cuisine, Top Dishes, Price for 2, Dining Rating, Dining Rating Count, Delivery Rating, Delivery Rating Count, Features]
Index: []

In [9]:
zom_df[zom_df['Address']=='Address']

Empty DataFrame
Columns: [Zomato URL, Name of Restaurant, Address, Location, Cuisine, Top Dishes, Price for 2, Dining Rating, Dining Rating Count, Delivery Rating, Delivery Rating Count, Features]
Index: []

In [10]:
#removing unwanted columns
zom_df.drop(['Zomato URL','Address'],axis=1,inplace=True)

In [11]:
zom_df.isnull().sum()

Name of Restaurant          0
Location                    0
Cuisine                     0
Top Dishes                  0
Price for 2                 0
Dining Rating            5351
Dining Rating Count       220
Delivery Rating          5851
Delivery Rating Count     220
Features                    0
dtype: int64

In [12]:
zom_df['Dining Rating'].value_counts()

Dining Rating
3.6    584
3.5    553
3.7    525
3.4    500
3.3    463
3.8    460
3.2    433
3.9    379
3.1    363
2.0    354
3.0    302
4.0    288
2.9    257
4.1    221
2.8    192
4.2    142
2.7    138
4.3    105
2.6     99
2.5     71
4.4     61
2.4     46
4.5     36
2.3     32
2.2     20
4.6     17
4.7     12
2.1     10
4.9      7
4.8      4
1.9      3
1.7      2
0.3      1
1.0      1
Name: count, dtype: int64

In [13]:
zom_df['Dining Rating'].fillna(0,inplace=True)

C:\Users\argka\AppData\Local\Temp\ipykernel_15844\3064006713.py:1: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [14]:
zom_df['Dining Rating'].isnull().sum()

0

In [15]:
zom_df['Dining Rating Count'].value_counts()

Dining Rating Count
Does not offer Dining        2603
Not enough Dining Reviews    2528
4                             339
5                             271
6                             248
                             ...
877                             1
897                             1
872                             1
1197                            1
224                             1
Name: count, Length: 793, dtype: int64

In [16]:
zom_df['Dining Rating Count'].replace(to_replace=['NA','Does not offer Dining','Not enough Dining Reviews'],value='0',inplace=True)
zom_df['Dining Rating Count'].fillna(0,inplace=True)

C:\Users\argka\AppData\Local\Temp\ipykernel_15844\2404410740.py:1: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [17]:
zom_df['Dining Rating Count'].value_counts()

Dining Rating Count
0       5151
4        339
5        271
6        248
0        220
        ...
877        1
897        1
872        1
1197       1
224        1
Name: count, Length: 792, dtype: int64

In [18]:
zom_df['Delivery Rating'].value_counts()
zom_df['Delivery Rating'].fillna(0,inplace=True)

C:\Users\argka\AppData\Local\Temp\ipykernel_15844\1283083578.py:2: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [19]:
zom_df['Delivery Rating Count'].value_counts()

Delivery Rating Count
Not enough Delivery Reviews    3379
Does not offer Delivery        2252
27                               34
32                               30
22                               30
                               ...
7705                              1
6374                              1
1773                              1
3677                              1
1617                              1
Name: count, Length: 2281, dtype: int64

In [20]:
zom_df['Delivery Rating Count'].replace(to_replace=['NA','Not enough Delivery Reviews','Does not offer Delivery'],value='0',inplace=True)
zom_df['Delivery Rating Count'].fillna(0,inplace=True)

C:\Users\argka\AppData\Local\Temp\ipykernel_15844\2197728766.py:1: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.

In [21]:
zom_df['Delivery Rating Count'].value_counts()

Delivery Rating Count
0       5650
0        220
27        34
37        30
60        30
        ...
7705       1
6374       1
3677       1
588        1
1617       1
Name: count, Length: 2280, dtype: int64

In [22]:
zom_df.isnull().sum()

Name of Restaurant       0
Location                 0
Cuisine                  0
Top Dishes               0
Price for 2              0
Dining Rating            0
Dining Rating Count      0
Delivery Rating          0
Delivery Rating Count    0
Features                 0
dtype: int64

In [23]:
#converting numeric values to numeric data types
zom_df['Dining Rating Count']=zom_df['Dining Rating Count'].astype('int64')
zom_df['Delivery Rating Count']=zom_df['Delivery Rating Count'].astype('int64')
zom_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name of Restaurant     12032 non-null  object
 1   Location               12032 non-null  object
 2   Cuisine                12032 non-null  object
 3   Top Dishes             12032 non-null  object
 4   Price for 2            12032 non-null  float64
 5   Dining Rating          12032 non-null  float64
 6   Dining Rating Count    12032 non-null  int64
 7   Delivery Rating        12032 non-null  float64
 8   Delivery Rating Count  12032 non-null  int64
 9   Features               12032 non-null  object
dtypes: float64(3), int64(2), object(5)
memory usage: 940.1+ KB

In [24]:
zom_df['Cuisine']=zom_df['Cuisine'].str.replace(r'\[','',regex=True)

In [25]:
zom_df['Cuisine']=zom_df['Cuisine'].str.replace(r'\]','',regex=True)

In [26]:
zom_df['Cuisine']

0                                                'Biryani'
1        'Biryani', ' North Indian', ' Mughlai', ' Dess...
2        'Biryani', ' North Indian', ' Chinese', ' Arab...
3        'Burger', ' Fast Food', ' Finger Food', ' Beve...
4        'Chinese', ' Biryani', ' North Indian', ' Chet...
                               ...
12027                                           'Sandwich'
12028                                           'Sandwich'
12029                                           'Sandwich'
12030                                           'Sandwich'
12031                                           'Sandwich'
Name: Cuisine, Length: 12032, dtype: object

In [27]:
zom_df['Top Dishes']

0        ['Bread Halwa', ' Chicken 65', ' Mutton Biryan...
1        ['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...
2        ['Brinjal Curry', ' Tandoori Chicken', ' Chick...
3                                        ['Zinger Burger']
4        ['Mutton Biryani', ' Chicken Rice', ' Tomato R...
                               ...
12027                                              Invalid
12028                                              Invalid
12029                                              Invalid
12030                                              Invalid
12031                                              Invalid
Name: Top Dishes, Length: 12032, dtype: object

In [28]:
zom_df['Top Dishes']=zom_df['Top Dishes'].str.replace(r'\[','',regex=True)

In [29]:
zom_df['Top Dishes']=zom_df['Top Dishes'].str.replace(r'\]','',regex=True)

In [30]:
zom_df['Top Dishes']

0        'Bread Halwa', ' Chicken 65', ' Mutton Biryani...
1        'Beef Biryani', ' Beef Fry', ' Paratha', ' Pay...
2        'Brinjal Curry', ' Tandoori Chicken', ' Chicke...
3                                          'Zinger Burger'
4        'Mutton Biryani', ' Chicken Rice', ' Tomato Ri...
                               ...
12027                                              Invalid
12028                                              Invalid
12029                                              Invalid
12030                                              Invalid
12031                                              Invalid
Name: Top Dishes, Length: 12032, dtype: object

In [31]:
zom_df['Features']=zom_df['Features'].str.replace(r'\[','',regex=True)
zom_df['Features']=zom_df['Features'].str.replace(r'\]','',regex=True)

In [32]:
zom_df['Features']

0                        'Home Delivery', 'Indoor Seating'
1        'Home Delivery', 'Free Parking', 'Table bookin...
2                        'Home Delivery', 'Indoor Seating'
3        'Home Delivery', 'Free Parking', 'Card Upon De...
4                        'Home Delivery', 'Indoor Seating'
                               ...
12027                         'Breakfast', 'Delivery Only'
12028                         'Breakfast', 'Delivery Only'
12029                         'Breakfast', 'Delivery Only'
12030                         'Breakfast', 'Delivery Only'
12031                         'Breakfast', 'Delivery Only'
Name: Features, Length: 12032, dtype: object

In [33]:
zom_df['Cuisine']=zom_df['Cuisine'].str.replace(r'\'','',regex=True)
zom_df['Top Dishes']=zom_df['Top Dishes'].str.replace(r'\'','',regex=True)
zom_df['Features']=zom_df['Features'].str.replace(r'\'','',regex=True)

In [34]:
zom_df

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,Pallavaram,Biryani,"Bread Halwa, Chicken 65, Mutton Biryani, Ch...",500.0,4.3,1500,4.3,9306,"Home Delivery, Indoor Seating"
1,Sukkubhai Biriyani,Alandur,"Biryani, North Indian, Mughlai, Desserts, ...","Beef Biryani, Beef Fry, Paratha, Paya, Bri...",1000.0,4.4,3059,4.1,39200,"Home Delivery, Free Parking, Table booking rec..."
2,SS Hyderabad Biryani,Kodambakkam,"Biryani, North Indian, Chinese, Arabian","Brinjal Curry, Tandoori Chicken, Chicken Gri...",500.0,4.3,1361,4.4,10500,"Home Delivery, Indoor Seating"
3,KFC,Perambur,"Burger, Fast Food, Finger Food, Beverages",Zinger Burger,500.0,4.0,1101,4.0,11200,"Home Delivery, Free Parking, Card Upon Deliver..."
4,Tasty Kitchen,Perambur,"Chinese, Biryani, North Indian, Chettinad, ...","Mutton Biryani, Chicken Rice, Tomato Rice, ...",450.0,4.2,617,4.1,22400,"Home Delivery, Indoor Seating"
...,...,...,...,...,...,...,...,...,...,...
12027,CK's Sandwiches,Porur,Sandwich,Invalid,350.0,0.0,0,0.0,0,"Breakfast, Delivery Only"
12028,CK's Sandwiches,Kolathur,Sandwich,Invalid,350.0,0.0,0,0.0,0,"Breakfast, Delivery Only"
12029,CK's Sandwiches,Anna Nagar East,Sandwich,Invalid,350.0,0.0,0,0.0,0,"Breakfast, Delivery Only"
12030,CK's Sandwiches,Ramapuram,Sandwich,Invalid,350.0,0.0,0,0.0,0,"Breakfast, Delivery Only"
12031,CK's Sandwiches,Sholinganallur,Sandwich,Invalid,350.0,0.0,0,0.0,0,"Breakfast, Delivery Only"

In [35]:
zom_df['Cuisine'].value_counts()

Cuisine
South Indian                                        883
Fast Food                                           295
Bakery                                              266
South Indian,  Chinese                              233
Biryani                                             225
                                                   ...
Rolls,  Mexican,  Pizza,  Chinese,  North Indian      1
Andhra,  Chinese,  North Indian,  South Indian        1
Desserts,  Street Food                                1
Chettinad,  South Indian,  Street Food                1
Kerala,  Chettinad,  Biryani                          1
Name: count, Length: 2423, dtype: int64

In [36]:
zom_df['Price'] =zom_df['Price for 2'] /2
zom_df.drop(columns=['Price for 2'], inplace=True)
zom_df.head()

,Name of Restaurant,Location,Cuisine,Top Dishes,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features,Price
0,Yaa Mohaideen Briyani,Pallavaram,Biryani,"Bread Halwa, Chicken 65, Mutton Biryani, Ch...",4.3,1500,4.3,9306,"Home Delivery, Indoor Seating",250.0
1,Sukkubhai Biriyani,Alandur,"Biryani, North Indian, Mughlai, Desserts, ...","Beef Biryani, Beef Fry, Paratha, Paya, Bri...",4.4,3059,4.1,39200,"Home Delivery, Free Parking, Table booking rec...",500.0
2,SS Hyderabad Biryani,Kodambakkam,"Biryani, North Indian, Chinese, Arabian","Brinjal Curry, Tandoori Chicken, Chicken Gri...",4.3,1361,4.4,10500,"Home Delivery, Indoor Seating",250.0
3,KFC,Perambur,"Burger, Fast Food, Finger Food, Beverages",Zinger Burger,4.0,1101,4.0,11200,"Home Delivery, Free Parking, Card Upon Deliver...",250.0
4,Tasty Kitchen,Perambur,"Chinese, Biryani, North Indian, Chettinad, ...","Mutton Biryani, Chicken Rice, Tomato Rice, ...",4.2,617,4.1,22400,"Home Delivery, Indoor Seating",225.0

In [37]:
zom_df['Cuisine'].value_counts()

Cuisine
South Indian                                        883
Fast Food                                           295
Bakery                                              266
South Indian,  Chinese                              233
Biryani                                             225
                                                   ...
Rolls,  Mexican,  Pizza,  Chinese,  North Indian      1
Andhra,  Chinese,  North Indian,  South Indian        1
Desserts,  Street Food                                1
Chettinad,  South Indian,  Street Food                1
Kerala,  Chettinad,  Biryani                          1
Name: count, Length: 2423, dtype: int64

In [38]:
def categorize_cuisine(cuisines):
    cuisine_lower = cuisines.lower()  # Convert to lowercase for consistent matching
    if any(c in cuisine_lower for c in ['italian', 'french', 'continental']):
        return 'European'
    elif any(c in cuisine_lower for c in ['chinese', 'thai', 'japanese', 'malaysian']):
        return 'Asian'
    elif any(c in cuisine_lower for c in ['indian', 'biryani']):
        return 'Indian'
    elif any(c in cuisine_lower for c in ['mexican']):
        return 'Latin American'
    elif any(c in cuisine_lower for c in ['tibetan', 'momos']):
        return 'Tibetan'
    elif any(c in cuisine_lower for c in ['turkish', 'kebab']):
        return 'Middle Eastern'
    elif any(c in cuisine_lower for c in ['wraps']):
        return 'Fast Food'
    else:
        return 'Other'

# Apply the function to the 'Cuisine' column to create the 'cuisine_category' column
zom_df['cuisine_category'] = zom_df['Cuisine'].apply(categorize_cuisine)

# Display the first few rows
zom_df.head()

,Name of Restaurant,Location,Cuisine,Top Dishes,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features,Price,cuisine_category
0,Yaa Mohaideen Briyani,Pallavaram,Biryani,"Bread Halwa, Chicken 65, Mutton Biryani, Ch...",4.3,1500,4.3,9306,"Home Delivery, Indoor Seating",250.0,Indian
1,Sukkubhai Biriyani,Alandur,"Biryani, North Indian, Mughlai, Desserts, ...","Beef Biryani, Beef Fry, Paratha, Paya, Bri...",4.4,3059,4.1,39200,"Home Delivery, Free Parking, Table booking rec...",500.0,Indian
2,SS Hyderabad Biryani,Kodambakkam,"Biryani, North Indian, Chinese, Arabian","Brinjal Curry, Tandoori Chicken, Chicken Gri...",4.3,1361,4.4,10500,"Home Delivery, Indoor Seating",250.0,Asian
3,KFC,Perambur,"Burger, Fast Food, Finger Food, Beverages",Zinger Burger,4.0,1101,4.0,11200,"Home Delivery, Free Parking, Card Upon Deliver...",250.0,Other
4,Tasty Kitchen,Perambur,"Chinese, Biryani, North Indian, Chettinad, ...","Mutton Biryani, Chicken Rice, Tomato Rice, ...",4.2,617,4.1,22400,"Home Delivery, Indoor Seating",225.0,Asian

In [39]:
#removing restaurants whose rating 0
useless_data=(zom_df['Dining Rating']==0)|(zom_df['Dining Rating Count']==0)|(zom_df['Delivery Rating']==0)|(zom_df['Delivery Rating Count']==0)

In [40]:
zom_df=zom_df[~useless_data]

In [41]:
zom_df

,Name of Restaurant,Location,Cuisine,Top Dishes,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features,Price,cuisine_category
0,Yaa Mohaideen Briyani,Pallavaram,Biryani,"Bread Halwa, Chicken 65, Mutton Biryani, Ch...",4.3,1500,4.3,9306,"Home Delivery, Indoor Seating",250.0,Indian
1,Sukkubhai Biriyani,Alandur,"Biryani, North Indian, Mughlai, Desserts, ...","Beef Biryani, Beef Fry, Paratha, Paya, Bri...",4.4,3059,4.1,39200,"Home Delivery, Free Parking, Table booking rec...",500.0,Indian
2,SS Hyderabad Biryani,Kodambakkam,"Biryani, North Indian, Chinese, Arabian","Brinjal Curry, Tandoori Chicken, Chicken Gri...",4.3,1361,4.4,10500,"Home Delivery, Indoor Seating",250.0,Asian
3,KFC,Perambur,"Burger, Fast Food, Finger Food, Beverages",Zinger Burger,4.0,1101,4.0,11200,"Home Delivery, Free Parking, Card Upon Deliver...",250.0,Other
4,Tasty Kitchen,Perambur,"Chinese, Biryani, North Indian, Chettinad, ...","Mutton Biryani, Chicken Rice, Tomato Rice, ...",4.2,617,4.1,22400,"Home Delivery, Indoor Seating",225.0,Asian
...,...,...,...,...,...,...,...,...,...,...,...
11666,Juice World,Alandur,"Beverages, Fast Food",Invalid,2.0,4,3.9,42,"Home Delivery, Vegetarian Only, Indoor Seating",150.0,Other
11667,Juice World,Palavakkam,"Beverages, Fast Food",Invalid,2.0,4,3.9,48,"Home Delivery, Vegetarian Only, Indoor Seating",150.0,Other
11736,Adyar Vaishnavas Thattu Idly Kadai,Porur,"South Indian, Sandwich, Chinese, Street Food",Invalid,3.2,6,3.9,48,"Home Delivery, Indoor Seating",100.0,Asian
11785,Engineers Kitchen,Ambattur,"North Indian, Chinese, Andhra",Invalid,2.5,6,3.5,214,"Home Delivery, Indoor Seating",200.0,Asian
11794,That Juice Shop,Karapakkam,"Juices, Beverages",Invalid,3.6,6,4.2,157,"Home Delivery, Indoor Seating",100.0,Other

In [42]:
#removing unwated letters and spaces in location
zom_df['Location']=zom_df['Location'].str.replace('[a-zA-Z].+,','',regex=True)
zom_df['Location'].value_counts()

C:\Users\argka\AppData\Local\Temp\ipykernel_15844\2322020547.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Location
Porur                     148
Anna Nagar East           145
Velachery                 145
Ambattur                  123
T. Nagar                  119
                         ...
 Ashok Nagar                1
 Anna Nagar West            1
 East Coast Road (ECR)      1
Abhiramapuram               1
 Perambur                   1
Name: count, Length: 147, dtype: int64

In [43]:
zom_df['Location']=zom_df['Location'].str.replace('West|west|East|east','',regex=True)
zom_df['Location'].value_counts()

C:\Users\argka\AppData\Local\Temp\ipykernel_15844\728773919.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Location
Anna Nagar                               237
Porur                                    148
Velachery                                145
Ambattur                                 123
T. Nagar                                 119
                                        ...
Holiday Inn Chennai OMR IT Expressway      1
Foodies Kitchen                            1
Citadines                                  1
  Coast Road (ECR)                         1
 Perambur                                  1
Name: count, Length: 146, dtype: int64

In [44]:
def rating_category(rating):
    if rating >= 4.5:
        return 'Excellent'
    elif rating >= 4.0:
        return 'Good'
    elif rating >= 3.0:
        return 'Average'
    else:
        return 'Poor'

zom_df['Rating Category'] = zom_df['Dining Rating'].apply(rating_category)

C:\Users\argka\AppData\Local\Temp\ipykernel_15844\400101673.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [45]:
def delivery_rating_category(rating):
    if rating >= 4.5:
        return 'Excellent'
    elif rating >= 4.0:
        return 'Good'
    elif rating >= 3.0:
        return 'Average'
    else:
        return 'Poor'

zom_df['Delivery Rating Category'] = zom_df['Delivery Rating'].apply(delivery_rating_category)

C:\Users\argka\AppData\Local\Temp\ipykernel_15844\3289287298.py:11: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [46]:
def price_category(price):
    if price <= 500:
        return 'budget'
    elif price <= 1000:
        return 'mid range'
    else:
        return 'Expensive'

zom_df['Price Category'] = zom_df['Price'].apply(price_category)

C:\Users\argka\AppData\Local\Temp\ipykernel_15844\4259273672.py:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [47]:
zom_df

,Name of Restaurant,Location,Cuisine,Top Dishes,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features,Price,cuisine_category,Rating Category,Delivery Rating Category,Price Category
0,Yaa Mohaideen Briyani,Pallavaram,Biryani,"Bread Halwa, Chicken 65, Mutton Biryani, Ch...",4.3,1500,4.3,9306,"Home Delivery, Indoor Seating",250.0,Indian,Good,Good,budget
1,Sukkubhai Biriyani,Alandur,"Biryani, North Indian, Mughlai, Desserts, ...","Beef Biryani, Beef Fry, Paratha, Paya, Bri...",4.4,3059,4.1,39200,"Home Delivery, Free Parking, Table booking rec...",500.0,Indian,Good,Good,budget
2,SS Hyderabad Biryani,Kodambakkam,"Biryani, North Indian, Chinese, Arabian","Brinjal Curry, Tandoori Chicken, Chicken Gri...",4.3,1361,4.4,10500,"Home Delivery, Indoor Seating",250.0,Asian,Good,Good,budget
3,KFC,Perambur,"Burger, Fast Food, Finger Food, Beverages",Zinger Burger,4.0,1101,4.0,11200,"Home Delivery, Free Parking, Card Upon Deliver...",250.0,Other,Good,Good,budget
4,Tasty Kitchen,Perambur,"Chinese, Biryani, North Indian, Chettinad, ...","Mutton Biryani, Chicken Rice, Tomato Rice, ...",4.2,617,4.1,22400,"Home Delivery, Indoor Seating",225.0,Asian,Good,Good,budget
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11666,Juice World,Alandur,"Beverages, Fast Food",Invalid,2.0,4,3.9,42,"Home Delivery, Vegetarian Only, Indoor Seating",150.0,Other,Poor,Average,budget
11667,Juice World,Palavakkam,"Beverages, Fast Food",Invalid,2.0,4,3.9,48,"Home Delivery, Vegetarian Only, Indoor Seating",150.0,Other,Poor,Average,budget
11736,Adyar Vaishnavas Thattu Idly Kadai,Porur,"South Indian, Sandwich, Chinese, Street Food",Invalid,3.2,6,3.9,48,"Home Delivery, Indoor Seating",100.0,Asian,Average,Average,budget
11785,Engineers Kitchen,Ambattur,"North Indian, Chinese, Andhra",Invalid,2.5,6,3.5,214,"Home Delivery, Indoor Seating",200.0,Asian,Poor,Average,budget
11794,That Juice Shop,Karapakkam,"Juices, Beverages",Invalid,3.6,6,4.2,157,"Home Delivery, Indoor Seating",100.0,Other,Average,Good,budget

In [48]:
clean_df=zom_df.copy()

In [49]:
clean_df

,Name of Restaurant,Location,Cuisine,Top Dishes,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features,Price,cuisine_category,Rating Category,Delivery Rating Category,Price Category
0,Yaa Mohaideen Briyani,Pallavaram,Biryani,"Bread Halwa, Chicken 65, Mutton Biryani, Ch...",4.3,1500,4.3,9306,"Home Delivery, Indoor Seating",250.0,Indian,Good,Good,budget
1,Sukkubhai Biriyani,Alandur,"Biryani, North Indian, Mughlai, Desserts, ...","Beef Biryani, Beef Fry, Paratha, Paya, Bri...",4.4,3059,4.1,39200,"Home Delivery, Free Parking, Table booking rec...",500.0,Indian,Good,Good,budget
2,SS Hyderabad Biryani,Kodambakkam,"Biryani, North Indian, Chinese, Arabian","Brinjal Curry, Tandoori Chicken, Chicken Gri...",4.3,1361,4.4,10500,"Home Delivery, Indoor Seating",250.0,Asian,Good,Good,budget
3,KFC,Perambur,"Burger, Fast Food, Finger Food, Beverages",Zinger Burger,4.0,1101,4.0,11200,"Home Delivery, Free Parking, Card Upon Deliver...",250.0,Other,Good,Good,budget
4,Tasty Kitchen,Perambur,"Chinese, Biryani, North Indian, Chettinad, ...","Mutton Biryani, Chicken Rice, Tomato Rice, ...",4.2,617,4.1,22400,"Home Delivery, Indoor Seating",225.0,Asian,Good,Good,budget
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11666,Juice World,Alandur,"Beverages, Fast Food",Invalid,2.0,4,3.9,42,"Home Delivery, Vegetarian Only, Indoor Seating",150.0,Other,Poor,Average,budget
11667,Juice World,Palavakkam,"Beverages, Fast Food",Invalid,2.0,4,3.9,48,"Home Delivery, Vegetarian Only, Indoor Seating",150.0,Other,Poor,Average,budget
11736,Adyar Vaishnavas Thattu Idly Kadai,Porur,"South Indian, Sandwich, Chinese, Street Food",Invalid,3.2,6,3.9,48,"Home Delivery, Indoor Seating",100.0,Asian,Average,Average,budget
11785,Engineers Kitchen,Ambattur,"North Indian, Chinese, Andhra",Invalid,2.5,6,3.5,214,"Home Delivery, Indoor Seating",200.0,Asian,Poor,Average,budget
11794,That Juice Shop,Karapakkam,"Juices, Beverages",Invalid,3.6,6,4.2,157,"Home Delivery, Indoor Seating",100.0,Other,Average,Good,budget

In [50]:
#1.How many restaurants are in Chennai for each type of cuisine?

In [ ]:
fig = px.histogram(clean_df, x='cuisine_category', color='cuisine_category',
                       title='No. of Restaurants by Cuisine Type',
                       labels={'cuisine_category': 'Cuisine Category'})
fig.show()

In [ ]:
#2.#1)find the top3 expensive restaurant?
zom_df[zom_df['Price Category']=='Expensive'].sort_values(by='Dining Rating',ascending=False).head(3)

In [ ]:
 #3)What are the percentage of restaurants by dining Rating in chennai?
dining_count=clean_df['Dining Rating'].value_counts()

In [ ]:
total_res=dining_count.sum()

In [ ]:
res_Per=(dining_count/total_res)*100
res_Per=res_Per.sort_values(ascending=True)
res_Per_df = res_Per.reset_index()
res_Per_df.columns = ['Dining Rating', 'Percentage']
res_Per_df = res_Per_df.sort_values('Dining Rating', ascending=False)
res_Per_df

In [ ]:
#4)Which are the Top 10 highest rated South indian cuisine Restaurant in chennai?
south_df = clean_df[clean_df['Cuisine'].str.contains('South Indian')]
south_df.sort_values(by='Dining Rating',ascending=False).head(10)

In [ ]:
#5) Which is the best chinese cuisine in chennai?
chinese_df=clean_df[clean_df['Cuisine'].str.contains('Chinese')]
chinese_df.sort_values(by='Price',ascending=True,inplace=True)
chinese_df

In [ ]:
#6)which location have large no of south indian cuisine?
clean_df['Cuisine'].value_counts()

In [ ]:
location_df=clean_df.groupby("Location")["Cuisine"].nunique().reset_index()
location_df=location_df.rename(columns={'Location':'Location','Cuisine':'Southindian'})

In [ ]:
location_df.sort_values(by='Southindian',ascending=False,inplace=True)

In [ ]:
location_df.head(5)

In [ ]:
clean_df['Delivery Rating'].value_counts()

In [ ]:
#7)Which are the Top 10 highest Delivery rated Biryani Restaurant in Chennai?

biryani_df=clean_df[clean_df['Cuisine'].str.contains('Biryani')]
biryani_df.sort_values(by='Delivery Rating',ascending=False,inplace=True)
biryani_df.head(10)

In [ ]:
clean_df.info()

In [ ]:
#8)What is the Avg Price Distibution of highest rated restaurant for each Cuisine Type in Chennai?
highest_df=clean_df[clean_df['Delivery Rating'] >=4.5]
avg_df=highest_df.groupby(by=['Location','cuisine_category','Delivery Rating']).agg({'Price':'mean'}).reset_index().sort_values(by='Delivery Rating',ascending=False)

In [ ]:
avg_df.head(5)

In [ ]:
#9) Which areas have a large number of Indian Restaurant Market?
Indian_df=clean_df[clean_df['cuisine_category']=='Indian']

In [ ]:
Indian_df.groupby(by=['Location']).agg({'cuisine_category':'count'}).reset_index().rename(columns={'Location':'Ind LOC','cuisine_category':'Count'})
Indian_df

In [ ]:
Indian_df.sort_values(by='Count',ascending=False,inplace=True)

In [ ]:
Indian_df